*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--cor-branco);
}
:root {
    --cor-primaria: #ffcb0f; /* amarelo */
    --cor-secundaria: #000000; /* preto */
    --cor-texto: #333;
    --cor-fundo: #f9f9f9;
    --cor-branco: #ffffff;
    --sombra-caixa: 0 4px 8px rgba(0, 0, 0, 0.1);
    --borda-radius: 12px;
    --padding-box: 20px;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    background-color: var(--cor-secundaria);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
main .logo .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
main .logo div{
    text-align: center;
}
main .logo div img{
    margin: 0px auto;
}
main .logo div h2{
    font-size: 40px;
    font-weight: 500;
}
main .logo div h2 span{
    color: var(--cor-primaria);
}
main .links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
main .links a{
    border: 1px solid var(--cor-branco);
    border-radius: 10px;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-decoration: none;
}
main .links a:hover{
    background-color: var(--cor-primaria);
    transition: 0.4s;
}
main .links a div{
    width: 200px;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
main .links a div i{
    font-size: 30px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-secundaria);
    color: var(--cor-branco);
    width: 100%;
    height: 100px;
    padding: 20px;
    text-align: center;
}